# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r
language: R
cache: packages
addons:
  apt:
    packages:
      - librdf0-dev
after_success:
  - Rscript -e 'covr::codecov()'
